[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flet = "*"
httpx = "*"

[dev-packages]

[requires]
python_version = "3.13"

[scripts]
dev = "python src/main.py"
build = {call = "scripts.build:build()"}
publish = "git push origin main"
deploy = "ghp-import -p src/dist"