[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flet = "*"
httpx = "*"
pydantic = "*"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.13"

[scripts]
dev = "python src/main.py"
build = {call = "scripts.build:build()"}
publish = "git commit -m"
deploy = "git push origin main"
serve = "flet run -r --web src/main.py"
